@use '/styles/core/core' as *;

//***********************************************************************
//  Headings
//***********************************************************************
h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: spacer(1);
    font-family:   inherit;
    font-weight:   700;
    line-height:   1.5;
    color:         $headings-color;
    box-decoration-break: clone;
    @include text-kerning;

    @include darkmode {
        color: $dark-headings-color;
    }
}

h1 { font-size: 1.5rem; }
h2 { font-size: 1.4rem; }
h3 { font-size: 1.3rem; }
h4 { font-size: 1.2rem; }
h5 { font-size: 1.1rem; }
h6 { font-size: 1rem; }

@include breakpoint-up {
    h1 { font-size: 2.25rem; }
    h2 { font-size: 2rem; }
    h3 { font-size: 1.75rem; }
    h4 { font-size: 1.5rem; }
    h5 { font-size: 1.25rem; }
    h6 { font-size: 1rem; }
}

.lead {
    font-size: 1.5rem;
    line-height: 1.3;
    box-decoration-break: clone;
    @include text-kerning;

    @include breakpoint-up {
        font-size: 2rem;
    }
}

//***********************************************************************
//  Text styles
//***********************************************************************
.font-kerning { font-feature-settings: "pkna"; }

.font-family-jp-sans  { font-family: $font-family-jp-sans; }
.font-family-jp-serif { font-family: $font-family-jp-serif; }
.font-family-en-sans  { font-family: $font-family-en-sans; }
.font-family-en-serif { font-family: $font-family-en-serif; }
.font-family-cn-sans  { font-family: $font-family-cn-sans; }
.font-family-cn-serif { font-family: $font-family-cn-serif; }
.font-family-tw-sans  { font-family: $font-family-tw-sans; }

.font_jp { font-family: $font-family-jp-sans; }
.font_en { font-family: $font-family-en-sans; }
.font_tw { font-family: $font-family-tw-sans; }
.font_cn { font-family: $font-family-cn-sans; }

.text-muted {
    color: $muted-color !important;

    @include darkmode {
        color: $dark-muted-color !important;
    }
}

.text-heading {
    color: $headings-color !important;

    @include darkmode {
        color: $dark-headings-color !important;
    }
}

.text-hide {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}

.text-clamp-1 { @include text-clamp(1); }
.text-clamp-2 { @include text-clamp(2); }
.text-clamp-3 { @include text-clamp(3); }

//***********************************************************************
//  Line
//***********************************************************************
.hr-text {
    position: relative;
    text-align: center;
    margin: spacer(1) 0;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 1px;
        margin: auto;
        background-color: $border-color;

        @include darkmode {
            background-color: $dark-border-color;
        }
    }

    span {
        display: inline-block;
        padding: 0 spacer(0.5);
        position: relative;
        z-index: 2;
        background-color: #FFF;
        font-size: 0.8125rem;
        letter-spacing: 1px;
        line-height: $icon-size;
    }
}

//***********************************************************************
//  Emphasis
//***********************************************************************
small,
.small {
    display: inline-block;
    font-size: 0.8125rem;
    font-weight: normal;
    line-height: 1.5;
}

mark,
.mark {
    font-weight: bold;
    color: $headings-color;
    background: linear-gradient(transparent 70%, #fcff47 0%);

    @include darkmode {
        background: #fcff47;
    }
}

//***********************************************************************
//  List
//***********************************************************************
.list-unstyled {
    padding-left: 0;
    padding-right: 0;
    list-style: none;
}

.list-inline {
    padding-left: 0;
    padding-right: 0;
    list-style: none;

    li {
        display: inline-block;

        &:not(:last-child) {
            margin-right: spacer(0.5);
        }
    }
}

.list-chart {
    counter-reset: listchart;
    margin: 0 0 spacer(1);
    padding: 0;
    list-style: none;

    li {
        position: relative;
        display: flex;
        align-items: flex-start;
        gap: spacer(0.5);
        line-height: 1.5;

        + li {
            margin-top: spacer(1);

            &::after {
                content: '';
                position: absolute;
                z-index: 1;
                left: calc((32px - 2px) / 2);
                bottom: 100%;
                margin-bottom: -8px;
                width: 2px;
                height: 100%;
                background-color: $body-color;

                @include darkmode {
                    background-color: $dark-body-color;
                }
            }
        }

        &::before {
            position: relative;
            z-index: 2;
            flex: 0 0 auto;
            counter-increment: listchart;
            content: counter(listchart)'';
            border: 2px solid $body-color;
            background-color: $body-bg;
            line-height: 1;
            text-align: center;
            padding: spacer(0.5) - 2px;
            margin-top: -4px;
            min-width: spacer(2);
            border-radius: 9999px;

            @include darkmode {
                border-color: $dark-border-color;
                background-color: $dark-body-bg;
            }
        }
    }
}

//***********************************************************************
//  Blockquote
//***********************************************************************
.blockquote {
    overflow: hidden;
    padding: spacer(1) spacer(1.5) 0;
    margin-bottom: spacer(1);
    font-size: 0.875rem;
    line-height: 1.5;
    background-color: $muted-bg;
    @include rounded;

    @include darkmode {
        background-color: $dark-muted-bg;
    }

    small {
        display: block;
        padding: spacer(1) spacer(1.5);
        margin: spacer(1) spacer(-1.5) 0;
        background-color: $muted-bg;
        font-size: 85%;
        color: $muted-color;

        @include darkmode {
            background-color: $dark-muted-bg;
            color: $dark-muted-color;
        }

        &::before {
            content: "\2014 \00A0";
        }
    }

    p {
        margin-bottom: 0;

        + p {
            margin-top: spacer(1);
        }
    }

    a {
        @include nowrap;
    }
}

//***********************************************************************
//  Code
//***********************************************************************
code,
kbd,
pre,
samp {
    font-family: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

code {
    padding: 0 4px;
    margin: 0 2px;
    border-radius: 2px;
    font-size: 0.875rem;
    color: #FFF;
    background-color: $brand-info;
}