@use '/styles/core/core' as *;

.breadcrumb {
    margin: spacer(1) 0;
    padding: 0;
    list-style: none;
    display: flex;
    overflow-y: hidden;
    overflow-x: auto;

    li {
        display: flex;
        align-items: center;
        padding-top: spacer(0.25);
        padding-bottom: spacer(0.25);
        font-size: 0.875rem;
        line-height: $icon-size;
        @include text-kerning;

        a {
            color: $body-color;

            @include focus-mouse {
                color: $link-hover-color;
            }
        }

        + li::before {
            display: block;
            padding-right: spacer(0.75);
            padding-left: spacer(0.75);
            content: "/";
            opacity: 0.3;
        }
    }
}