@use '/styles/core/core' as *;

#footer {
    position: relative;
    z-index: 2;
    background-color: darken($body-bg, 2%);
    font-size: 0.875rem;

    padding-top: spacer(3);
    padding-bottom: spacer(3);

    @include darkmode {
        background-color: lighten($dark-body-bg, 2%);
    }

    .aboutus {
        flex: 0 0 auto;

        .brand-logo {
            display: inline-block;
            margin: 0 0 spacer(1);

            max-width: 200px;
            max-height: 200px;
            object-fit: contain;
        }

        > *:last-child {
            margin-bottom: 0;
        }
    }

    .copyright {
        display: block;
        font-size: 0.75rem;
        line-height: 1;
        margin: 0;
        opacity: 0.5;
    }
}