@use '/styles/core/core' as *;

//***********************************************************************
//  Base
//***********************************************************************
.form-control {
    appearance:       none;
    display:          block;
    width:            100%;
    height:           $input-height;
    padding:          $input-padding-y $input-padding-x;
    font-size:        $input-font-size;
    line-height:      $input-line-height;
    color:            $body-color;
    background-color: rgba(255,255,255,0.2);
    background-image: none;
    background-clip:  padding-box;
    border:           $border-width solid $input-border-color;

    @include rounded($input-border-radius);
    @include transition((background, border));

    @include darkmode {
        color: $dark-body-color;
        background-color: rgba(0,0,0,0.2);
        border-color: $dark-input-border-color;
    }

    &:focus {
        color: $body-color;
        background-color: $body-bg;
        border-color: $body-color;

        @include darkmode {
            color: $dark-body-color;
            background-color: $dark-body-bg;
            border-color: $dark-body-color;
        }
    }

    &::placeholder {
        color: $muted-color;
        opacity: 1;

        @include darkmode {
            color: $dark-muted-color;
        }
    }

    &:-webkit-autofill {
        -webkit-text-fill-color: $body-color;
        caret-color: $body-color;
        transition: background 9999s;

        @include darkmode {
            -webkit-text-fill-color: $dark-body-color;
            caret-color: $dark-body-color;
        }
    }

    &::-ms-expand {
        background-color: transparent;
        border: 0;
    }

    &:disabled,
    &[readonly] {
        background-color: $muted-bg;
        border-color: $muted-bg;
        opacity: 1;
        cursor: default;
        box-shadow: none;

        @include darkmode {
            background-color: $dark-muted-bg;
            border-color: $dark-muted-bg;
        }
    }

    &[class*='inline'] {
        width: auto;
    }
}

input[type='file'].form-control {
    line-height: 18px;
}

textarea.form-control {
    resize: none;
    height: auto;
}

select.form-control {
    cursor: pointer;

    &.form-control-sm,
    &.fomr-control-lg {
        padding-top: 0;
        padding-bottom: 0;
    }

    &:not([multiple]) {
        background-image: url('data:image/svg+xml;charset=utf8,%3Csvg%20width%3D%228%22%20height%3D%2210%22%20viewBox%3D%220%200%208%2010%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M4%200l4%204h-8l4-4zm0%2010l-4-4h8l-4%204z%22%20fill%3D%22' + base64Encode(#909090) + '%22%2F%3E%3C%2Fsvg%3E');
        background-repeat: no-repeat;
        background-size: 8px 10px;
        background-position: right spacer(0.5) center;
        padding-right: $input-padding-x + spacer(1) !important;
    }

    &[multiple] {
        padding-top: spacer(0.5);
        padding-bottom: spacer(0.5);
        height: auto !important;
    }

    ::-ms-expand {
        display: none;
    }

    &:focus::-ms-value {
        color: $body-color;
        background-color: $body-bg;

        @include darkmode {
            color: $dark-body-color;
            background-color: $dark-body-bg;
        }
    }
}

.form-group {
    position: relative;
    margin-bottom: spacer(1.5);

    label {
        color: $headings-color;
        font-weight: bold;
        line-height: $icon-size;
        display: flex;
        align-items: center;
        margin-bottom: spacer(0.25);

        @include darkmode {
            color: $dark-headings-color;
        }

        .badge {
            vertical-align: top;
            margin: 0 spacer(0.25);
            padding: 0 spacer(0.25);
            line-height: 18px;
        }
    }
}

.col-form-label {
    line-height:    $input-line-height;
    padding-top:    $input-padding-y;
    padding-bottom: $input-padding-y;
    border:         $border-width solid transparent;
    margin-bottom:  0;
}

.form-control-feedback {
    user-select: none;
    position: absolute;
    display: inline-block;
    z-index: $zindex-modal;
    left: 0;
    top: 100%;
    margin-top: 2px;
    background-color: $brand-primary;
    color: #FFFFFF;
    font-size: 0.85rem;
    font-weight: bold;
    padding: 2px spacer(0.5);
    @include rounded(4px);

    &::after {
        content: '';
        pointer-events: none;
        position: absolute;
        z-index: 3;
        left: spacer(1);
        top: -7px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 6px 8px 6px;
        border-color: transparent transparent $brand-primary transparent;
    }
}

.form-text {
    display: block;
}

label + .form-text {
    margin-top: -0.25rem;
    margin-bottom: .25rem;
}

.form-control + .form-text,
.form-combine + .form-text {
    margin-top: .25rem;
}

.form-control-static {
    display:          block;
    font-size:        $input-font-size;
    line-height:      $input-line-height;
    padding:          $input-padding-y $input-padding-x;
    background-color: $muted-bg;
    border:           $border-width solid transparent;

    @include darkmode {
        background-color: $dark-muted-bg;
    }

    @include rounded($input-border-radius);
}

.form-control-btn {
    padding-left: spacer(1);
    padding-right: spacer(1);
    @include rounded($input-border-radius);
}

.form-control-sm,
.form-combine-sm .form-control,
.form-control-static-sm {
    height:         $input-sm-height;
    padding:        $input-sm-padding-y $input-padding-x;
    font-size:      $input-sm-font-size;
}

.form-control-lg,
.form-combine-lg .form-control,
.form-control-static-lg {
    height:         $input-lg-height;
    padding:        $input-lg-padding-y $input-padding-x;
    font-size:      $input-lg-font-size;
}

.col-form-label-sm {
    padding-top:    $input-sm-padding-y;
    padding-bottom: $input-sm-padding-y;
    font-size:      $input-font-size;
}

.col-form-label-lg {
    padding-top:    $input-lg-padding-y;
    padding-bottom: $input-lg-padding-y;
    font-size:      $input-lg-font-size;
}

//***********************************************************************
//  Radio, Checkbox
//***********************************************************************
.form-control-checkbox {
    display: flex;
    align-items: center;

    input[type="checkbox"],
    input[type="radio"] {
        flex: 0 0 auto;
        appearance: none;
        cursor: pointer;
        position: relative;
        display: inline-block;
        width: 22px;
        height: 22px;
        background-color: $input-border-color;
        border: 2px solid transparent;

        &:focus-visible {
            border-color: rgba(0,0,0,0.2);
        }

        @include darkmode {
            background-color: $dark-input-border-color;

            &:focus-visible {
                border-color: rgba(255,255,255,0.3);
            }
        }

        &::after {
            content: '';
            position: absolute;
            z-index: 2;
            opacity: 0.15;
        }

        &:checked {
            background-color: $link-color;

            &::after {
                opacity: 1;
            }
        }
    }

    input[type="checkbox"] {
        @include rounded(4px);

        &::after {
            top: 1px;
            left: 6px;
            width: 6px;
            height: 12px;
            border-bottom: 2px solid black;
            border-right: 2px solid black;
            transform: rotate(45deg);
        }

        &:checked {
            &::after {
                border-color: white;
            }
        }
    }

    input[type="radio"] {
        border-radius: 100px;

        &::after {
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            width: 10px;
            height: 10px;
            border-radius: 100px;
            background-color: black;
        }

        &:checked {
            &::after {
                background-color: white;
            }
        }
    }

    label {
        flex: 0 0 auto;
        user-select: none;
        cursor: pointer;
        margin: 0;
        padding-left: spacer(0.5);
        color: $body-color;
        font-size: $input-font-size;
        font-weight: normal;
        line-height: $icon-size;

        @include darkmode {
            color: $dark-body-color;
        }
    }

    + .form-control-feedback {
        &::after {
            left: 4px;
        }
    }

    &.box {
        position: relative;

        input[type="checkbox"],
        input[type="radio"] {
            position: absolute;
            left: spacer(1);
            top: 0;
            bottom: 0;
            margin: auto 0;

            &:checked {
                + label {
                    color: $link-color;
                    border-color: $link-color;
                    background-color: lighten($link-color, 30%);
                }
            }
        }

        label {
            width: 100%;
            border: $border-width solid $input-border-color;
            padding: spacer(1) spacer(1.5) spacer(1) spacer(3);
            @include rounded;

            @include darkmode {
                border-color: $dark-input-border-color;
            }

            img {
                width: auto;
                height: 40px;

                @include breakpoint-up {
                    height: 80px;
                }
            }
        }
    }
}

.form-control-switch {
    appearance: none;
    cursor: pointer;
    display: block;
    position: relative;
    width: $icon-size * 2;
    height: $icon-size;
    background-color: $input-border-color;
    border: 2px solid transparent;
    border-radius: 9999px;
    transition: background 100ms $easing, border 100ms $easing;

    &:focus-visible {
        border-color: rgba(0,0,0,0.2);
    }

    @include darkmode {
        background-color: $dark-input-border-color;

        &:focus-visible {
            border-color: rgba(255,255,255,0.3);
        }
    }

    &::after {
        content: '';
        position: absolute;
        top: calc(($icon-size - 22px) / 2);
        left: calc(($icon-size - 22px) / 2);
        z-index: 2;
        width: 18px;
        height: 18px;
        border-radius: 9999px;
        background-color: white;
        transition: transform 100ms $easing;
    }

    &:checked {
        background-color: $link-color;

        &::after {
            transform: translateX($icon-size);
        }
    }
}

//***********************************************************************
//  UI
//***********************************************************************
.form-combine {
    position: relative;
}

.form-combine-icon {
    position: absolute;
    z-index: 2;
    top: 0;
    bottom: 0;
    margin: auto 0;
    pointer-events: none;
    color: $body-color;

    @include darkmode {
        color: $dark-body-color;
    }

    > * {
        transform: scale(0.75);
    }

    width: $input-height;
    height: $input-height;
    padding: ($input-height - $icon-size) * .5;

    .form-combine-sm & {
        width: $input-sm-height;
        height: $input-sm-height;
        padding: ($input-sm-height - $icon-size) * .5;
    }

    .form-combine-lg & {
        width: $input-lg-height;
        height: $input-lg-height;
        padding: ($input-lg-height - $icon-size) * .5;
    }
}

button.form-combine-icon {
    pointer-events: auto;
    appearance: none;
    border: none;
    background: none;
    cursor: pointer;
    display: block;
    @include transition(color);

    @include hover-mouse {
        color: $link-color;
    }
}

.form-combine-before {
    .form-combine-icon {
        left: 0;
    }

    .form-control {
        padding-left: $input-height;
    }

    &.form-combine-sm {
        .form-control {
            padding-left: $input-sm-height;
        }
    }

    &.form-combine-lg {
        .form-control {
            padding-left: $input-lg-height;
        }
    }
}

.form-combine-after {
    .form-combine-icon {
        right: 0;
    }

    .form-control {
        padding-right: $input-height;
    }

    &.form-combine-sm {
        .form-control {
            padding-right: $input-sm-height;
        }
    }

    &.form-combine-lg {
        .form-control {
            padding-right: $input-lg-height;
        }
    }
}

// Select + button
.form-select {
    display: flex;

    .form-control {
        flex: 1 1 auto;
        margin-right: spacer(0.25);
    }

    .btn {
        flex: 0 0 auto;
    }
}

//***********************************************************************
//  Theme
//***********************************************************************
@each $key, $color in $themes {
    .is-#{"" + $key} {
        .form-control-label,
        .col-form-label,
        .form-check-label,
        .custom-control {
            color: $color;
        }

        .form-control-feedback,
        &.form-control-feedback {
            background-color: $color;

            &::after { border-bottom-color: $color; }
        }

        .form-control {
            border-color: $color;
        }

        &.form-control-checkbox {
            input[type="checkbox"],
            input[type="radio"] {
                &:checked {
                    background-color: $color;
                }
            }
        }

        &.form-control-switch {
            &::checked {
                background-color: $color;

                &:focus {
                    box-shadow: 0 0 8px $color;
                }
            }
        }
    }
}