@use '/styles/core/core' as *;

.headline-item {
    position: relative;

    @include darkmode {
        border-color: $dark-border-color;
    }

    + .headline-item {
        border-top: none !important;
    }

    .headline-item-body {
        position: relative;

        @include breakpoint-up {
            display: flex;
            align-items: flex-start;
            gap: spacer(2);
        }

        .detail {
            display: flex;
            align-items: center;
            gap: spacer(0.75);
            margin-bottom: spacer(0.75);

            @include breakpoint-up {
                flex: 0 0 auto;
                min-width: 200px;
                margin: 0;
            }
        }

        .date {
            display: block;
            font-size: 1rem;
            font-weight: normal;
            color: $body-color;
            line-height: 1;
            @include transition(color);

            @include darkmode {
                color: $dark-body-color;
            }
        }

        .badge {
            min-width: 100px;
        }

        .icon {
            position: absolute;
            top: 0;
            right: 0;
            pointer-events: none;

            background-color: $link-color;
            @include rounded(9999px);
            padding: calc(($icon-size - 12px) / 2);
            color: white;
            line-height: 0;

            > * {
                font-size: 12px;
            }
        }

        .title {
            margin: 0;
            font-size: 1rem;
            font-weight: normal;
            line-height: 1.5;
            color: $headings-color;

            @include breakpoint-up {
                flex: 1 1 auto;
                font-size: 1rem;
            }

            @include darkmode {
                color: $dark-headings-color;
            }
        }
    }

    a {
        display: block;
        min-height: 100%;

        .hover-underline {
            background: url('data:image/svg+xml;charset=utf8,%3Csvg%20height%3D%221%22%20viewBox%3D%220%200%201%201%22%20width%3D%221%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20preserveAspectRatio%3D%22none%22%3E%3Cpath%20d%3D%22m0%200h1v1h-1z%22%20fill%3D%22' + base64Encode($headings-color) + '%22%20fill-rule%3D%22evenodd%22%20%2F%3E%3C%2Fsvg%3E');
            background-repeat: no-repeat;
            background-position: right bottom;
            background-size: 0 1px;
            @include transition(background-size);

            @include darkmode {
                background-image: url('data:image/svg+xml;charset=utf8,%3Csvg%20height%3D%221%22%20viewBox%3D%220%200%201%201%22%20width%3D%221%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20preserveAspectRatio%3D%22none%22%3E%3Cpath%20d%3D%22m0%200h1v1h-1z%22%20fill%3D%22' + base64Encode($dark-headings-color) + '%22%20fill-rule%3D%22evenodd%22%20%2F%3E%3C%2Fsvg%3E');
            }
        }

        @include focus-mouse {
            .hover-underline {
                will-change: background-size;
                background-position: left bottom;
                background-size: 100% 1px;
            }
        }
    }

    &.border-t {
        .headline-item-body {
            padding-top: spacer(1.5);

            @include breakpoint-up {
                padding-top: spacer(2);
            }
        }
    }

    &.border-b {
        .headline-item-body {
            padding-bottom: spacer(1.5);

            @include breakpoint-up {
                padding-bottom: spacer(2);
            }
        }
    }
}