@use '/styles/core/core' as *;

//@import url('https://fonts.googleapis.com/css?family=Material+Icons');
@import url('https://fonts.googleapis.com/css?family=Material+Icons+Round');
//@import url('https://fonts.googleapis.com/css?family=Material+Icons+Outlined');
//@import url('https://fonts.googleapis.com/css?family=Material+Icons+Sharp');
//@import url('https://fonts.googleapis.com/css?family=Material+Icons+Two+Tone');

[class*='material-icons'] {
    vertical-align: top;
}

//***********************************************************************
//  Button
//***********************************************************************
.btn {
    [class*='material-icons'] {
        flex: 0 0 auto;
        height: $icon-size;
    }
}

.btn-sm {
    [class*='material-icons'] {
        transform: scale(0.75);
        margin-left: -(spacer(0.5) * 0.75);
        margin-right: -(spacer(0.5) * 0.75);
    }
}

.btn-icon-before {
    gap: 0;
    padding-left: $btn-padding-x + $icon-size;
    padding-right: $btn-padding-x + $icon-size;

    [class*='material-icons'] {
        position: absolute;
        left: calc($btn-padding-x / 2);
        top: 0;
        bottom: 0;
        margin: auto 0;
    }
}

.btn-icon-after {
    gap: 0;
    padding-left: $btn-padding-x + $icon-size;
    padding-right: $btn-padding-x + $icon-size;

    [class*='material-icons'] {
        position: absolute;
        right: calc($btn-padding-x / 2);
        top: 0;
        bottom: 0;
        margin: auto 0;
    }
}

//***********************************************************************
//  UI
//***********************************************************************
.modal-close {
    [class*='material-icons'] {
        transform: scale(0.75);
    }
}

//***********************************************************************
//  Utilities
//***********************************************************************
.hover-icon-right {
    @include hover-mouse {
        [class*='material-icons'] {
            animation: anim_iconslide_right $duration $easing;
        }
    }
}

.hover-icon-left {
    @include hover-mouse {
        [class*='material-icons'] {
            animation: anim_iconslide_left $duration $easing;
        }
    }
}

.hover-icon-top {
    @include hover-mouse {
        [class*='material-icons'] {
            animation: anim_iconslide_top $duration $easing;
        }
    }
}

.hover-icon-bottom {
    @include hover-mouse {
        [class*='material-icons'] {
            animation: anim_iconslide_bottom $duration $easing;
        }
    }
}

@keyframes anim_iconslide_right {
    0% { transform: translate(0, 0); opacity: 1; }
    50% { transform: translate(100%, 0); opacity: 0; }
    51% { transform: translate(-100%, 0); opacity: 0; }
    100% { transform: translate(0, 0); opacity: 1; }
}

@keyframes anim_iconslide_left {
    0% { transform: translate(0, 0); opacity: 1; }
    50% { transform: translate(-100%, 0); opacity: 0; }
    51% { transform: translate(100%, 0); opacity: 0; }
    100% { transform: translate(0, 0); opacity: 1; }
}

@keyframes anim_iconslide_top {
    0% { transform: translate(0, 0); opacity: 1; }
    50% { transform: translate(0, -100%); opacity: 0; }
    51% { transform: translate(0, 100%); opacity: 0; }
    100% { transform: translate(0, 0); opacity: 1; }
}

@keyframes anim_iconslide_bottom {
    0% { transform: translate(0, 0); opacity: 1; }
    50% { transform: translate(0, 100%); opacity: 0; }
    51% { transform: translate(0, -100%); opacity: 0; }
    100% { transform: translate(0, 0); opacity: 1; }
}