@use '/styles/core/core' as *;

$modal-scrollbar-width: 12px;

//***********************************************************************
//  Transition
//***********************************************************************
.modal-enter {
    transition: opacity 300ms linear;
    will-change: opacity;
    opacity: 0;

    .modal-mask {
        transition: clip-path 200ms linear;
        will-change: clip-path;
        clip-path: circle(0% at var(--path));
    }

    .modal-inner {
        transition: transform 300ms $easeOutBack;
        will-change: transform;
        transform: scale(0.85);
    }
}

.modal-exit {
    transition: opacity 200ms linear;
    will-change: opacity;
    opacity: 0;

    .modal-inner {
        transition: transform 200ms $easing;
        will-change: transform;
        transform: translateY(16px);
    }
}

.modal-enter-active {
    opacity: 1;

    .modal-mask {
        clip-path: circle(100% at var(--path));
    }

    .modal-inner {
        transform: none;
    }
}

//***********************************************************************
//  Base
//***********************************************************************
.modal {
    position: fixed;
    z-index: $zindex-modal;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;

    @include overlay;

    &.modal-double {
        z-index: $zindex-modal + 1;
    }
}

.modal-mask {
    position: absolute;
    z-index: 2;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    clip-path: circle(100% at var(--path));

    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-inner {
    position: relative;
    z-index: 2;
    width: 90vw;
    max-width: 500px + spacer(2) + spacer(2);
    @include rounded;
    box-shadow: $box-shadow;
}

.modal-overlay {
    display: block;
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.modal-header {
    width: 100%;
    min-height: spacer(3.5);
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    gap: spacer(1);
    transform: translateZ(0);
    background-color: darken($body-bg, 2%);
    border-bottom: 1px solid $border-color;
    padding: spacer(0.5) spacer(0.5) spacer(0.5) spacer(1.5);
    margin-bottom: -1px;
    @include rounded-top;

    @include darkmode {
        background-color: lighten($dark-body-bg, 2%);
        border-color: $dark-border-color;
    }

    + .modal-body {
        @include rounded-top(0);
    }

    .modal-header-title {
        flex: 1 1 auto;
        font-size: 1.125rem;
        font-weight: normal;
        text-align: left;
        line-height: 1.3;
        color: $headings-color;
        margin: 0;

        @include darkmode {
            color: $dark-headings-color;
        }
    }

    .modal-close {
        flex: 0 0 auto;
        width: 40px;
        height: 40px;
        padding: calc((40px - $icon-size) / 2);
        background-color: transparent;
        border: none;
        box-shadow: none;
        color: $muted-color;

        @include darkmode {
            color: $dark-muted-color;
        }

        @include hover-mouse {
            background-color: $muted-bg;
            color: $headings-color;
            box-shadow: none;

            @include darkmode {
                background-color: $dark-muted-bg;
                color: $dark-headings-color;
            }
        }

        + .modal-header-title {
            margin-right: $component-height;
        }
    }
}

.modal-body {
    width: 100%;
    max-height: 60vh;
    background-color: $body-bg;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1rem;

    @include darkmode {
        background-color: $dark-body-bg;
    }

    @include rounded;

    + .modal-footer {
        padding-top: $border-radius;
        margin-top: -$border-radius;
    }

    &.scroll {
        display: block;
        height: 50vh;
        border-radius: 0;
        @include scroll-y;

        &::-webkit-scrollbar {
            width: $modal-scrollbar-width;
        }

        + .modal-footer {
            margin-top: 0;
            border-top: 1px solid $border-color;
            padding-top: spacer(1);
            padding-bottom: spacer(1);

            @include darkmode {
                border-color: $dark-border-color;
            }
        }
    }

    small {
        display: inline-block;
        color: $muted-color;
        font-size: 0.75rem;

        @include darkmode {
            color: $dark-muted-color;
        }
    }

    .inner {
        width: 100%;
        padding: spacer(1.5);

        @include breakpoint-up {
            padding: spacer(2);
        }

        > *:last-child {
            margin-bottom: 0;
        }
    }

    .hr-text {
        margin: spacer(1) spacer(-1.5);
    }

    .terms {
        font-size: 0.875rem;

        > *:last-child {
            margin-bottom: 0;
        }

        * + h2 {
            margin-top: 2em;
        }

        h2 {
            font-size: 1.3em;
            margin-bottom: 0.5em;
        }

        h3 {
            font-size: 1.1em;
            margin-bottom: 0.5em;
        }
    }
}

.modal-footer {
    width: 100%;
    background-color: $body-bg;
    padding: 0 spacer(1.5) spacer(1.5);
    @include rounded-bottom;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: spacer(1);

    @include breakpoint-up {
        padding: 0 spacer(2) spacer(2);
    }

    @include darkmode {
        background-color: $dark-body-bg;
    }

    > * {
        flex: 0 1 50%;
    }

    .btn-sm {
        font-size: $input-font-size;
    }
}