@use '/styles/core/core' as *;

$skelton-bg: rgba(0,0,0,0.1);
$dark-skelton-bg: rgba(255,255,255,0.1);

.skelton {
    display: block;
    background-color: $skelton-bg;

    @include darkmode {
        background-color: $dark-skelton-bg;
    }

    &.animation {
        animation: skelton_anime 1s linear infinite;
    }
}

@keyframes skelton_anime {
    50% { opacity: 0.5; }
    100% { opacity: 1; }
}

.skelton-circular {
    border-radius: 9999px;
}

.skelton-text {
    min-height: 14px;
    background-color: transparent;
    background-image: repeating-linear-gradient(0deg, $skelton-bg, $skelton-bg 14px, transparent 14px, transparent 22px);

    @include darkmode {
        background-image: repeating-linear-gradient(0deg, $dark-skelton-bg, $dark-skelton-bg 14px, transparent 14px, transparent 22px);
    }
}

.skelton-h1 {
    height: 1.5rem;

    @include breakpoint-up {
        height: 2.25rem;
    }
}

.skelton-h2 {
    height: 1.4rem;

    @include breakpoint-up {
        height: 2rem;
    }
}

.skelton-h3 {
    height: 1.3rem;

    @include breakpoint-up {
        height: 1.75rem;
    }
}

.skelton-h4 {
    height: 1.2rem;

    @include breakpoint-up {
        height: 1.5rem;
    }
}

.skelton-h5 {
    height: 1.1rem;

    @include breakpoint-up {
        height: 1.25rem;
    }
}

.skelton-h6 {
    height: 1rem;
}