@use '/styles/core/core' as *;

//***********************************************************************
//  Toggler
//***********************************************************************
.viewer-button:not(.btn) {
    display: block;
    cursor: zoom-in;
    @include transition(opacity);
}

//***********************************************************************
//  Transition
//***********************************************************************
#viewer {
    @include isMouse {
        opacity: 0;
    }

    &.viewer-enter,
    &.viewer-exit {
        @include transition(opacity);
        will-change: opacity;
    }

    &.viewer-enter-active,
    &.viewer-enter-done {
        opacity: 1;
    }

    &.viewer-exit {
        #viewer-body {
            @include transition((transform, opacity));
            will-change: transform, opacity;
            transform: scale(0.9);
            opacity: 0;
        }
    }
}

.viewer-nav-enter,
.viewer-nav-exit {
    transition: opacity 300ms linear;
    will-change: opacity;
    opacity: 0;
}

.viewer-nav-enter-active {
    opacity: 1;
}

//***********************************************************************
//  Base
//***********************************************************************
body.show_viewer {
    @include isMouse {
        overflow: hidden;

        #viewer {
            position: fixed;
            background-color: rgba(0,0,0,0.8);
            backdrop-filter: blur(10px);
        }
    }

    @include isTouch {
        #app,
        #__next,
        #__nuxt {
            overflow: hidden;
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            height: 100vh;
            height: 100svh;
        }

        #viewer {
            position: absolute;
            background-color: #101010;
        }
    }
}

#viewer {
    z-index: $zindex-sidebar + 2;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

    .btn.is-link {
        color: white;
    }
}

#viewer-body {
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
}

#viewer-body-container {
    cursor: ew-resize;
    display: flex;
    height: 100%;

    &.transition {
        transition: transform $duration $easeOutCubic;
        will-change: transform;
    }

    &.single {
        cursor: default;
    }
}

.viewer-item {
    position: relative;
    flex: 0 0 100vw;
    width: 100vw;
    user-select: none;

    &.viewer-item-active {
        .img {
            transform: none;
        }
    }

    .img {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: $component-height;
        bottom: $component-height;
        left: 0;
        right: 0;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        transition: transform 300ms $easeOutCubic;
        transform: scale(0.9);

        @include breakpoint-up {
            left: $component-height;
            right: $component-height;
            transform: none;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    .video {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;

        video {
            width: 100%;
            max-height: 100%;
        }

        .embed {
            max-height: 100%;
        }

        @include breakpoint-up {
            top: $component-height;
            bottom: $component-height;
            left: $component-height;
            right: $component-height;
            transform: none;
        }
    }
}

#viewer-prev,
#viewer-next,
#viewer-close {
    @include button-reset;
    position: absolute;
    padding: ($input-height - 40px) * .5;

    .btn {
        background-color: rgba(0,0,0,0.2);
        border: none;
        border-radius: 100%;
        width: 40px;
        height: 40px;
        padding: (40px - $icon-size) * .5;
    }

    @include hover-mouse {
        .btn {
            color: $link-color;
            background-color: $dark-muted-bg;
        }
    }
}

#viewer-close {
    z-index: 4;
    top: 0;
    left: 0;
    margin: 0 auto;
    width: 100%;
    height: $component-height;
    text-align: left;
}

#viewer-prev {
    display: none;
    z-index: 3;
    left: 0;
    top: 0;
    bottom: 0;
    width: $component-height;
    text-align: left;

    @include breakpoint-up {
        display: block;
        width: 10vw;
    }
}

#viewer-next {
    display: none;
    z-index: 3;
    right: 0;
    top: 0;
    bottom: 0;
    width: $component-height;
    text-align: right;

    @include breakpoint-up {
        display: block;
        width: 10vw;
    }
}

#viewer-index {
    position: absolute;
    z-index: 2;
    pointer-events: none;
    bottom: 0;
    left: 0;
    right: 0;
    padding: calc(($component-height - $icon-size) / 2);
    line-height: $icon-size;
    font-size: 0.75rem;
    text-align: center;
    color: rgba(255,255,255,0.5);

    span {
        display: inline-block;
        padding: 0 spacer(0.5);
    }
}

//***********************************************************************
//  Img Lazy
//***********************************************************************
.img-lazy {
    position: relative;
    background-color: rgba(0,0,0,0.1);

    .loader {
        position: absolute;
        right: spacer(1);
        bottom: spacer(1);
    }

    @include darkmode {
        background-color: rgba(255,255,255,0.1);
    }

    img {
        opacity: 0;

        &.img-lazy-enter,
        &.img-lazy-exit {
            @include transition(opacity);
            will-change: opacity;
        }

        &.img-lazy-enter-active,
        &.img-lazy-enter-done {
            opacity: 1;
        }
    }
}

#viewer {
    .img-lazy {
        background-color: transparent;
        width: 100%;
        height: 100%;

        .loader {
            width: $icon-size;
            height: $icon-size;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
        }
    }
}